.UserCard
{
    
    width: 100%;
    max-width: 298px;
    height:100%;
    filter: drop-shadow(20px 24px 48px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .ellips {
        border-radius: 50%;
        position: absolute;
        width: 688.5px;
        height: 310.5px;
        left: -70%;
        top: -118px;
        background: #7D7DDC;
        box-shadow: 0px 17.2591px 35.9564px rgba(71, 71, 185, 0.2);
    }
    .ava
    {
       overflow: hidden;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 179.78px;
        height: 179.78px;
        // left: 20%;
        top: 84px;
        border-radius: 50%;
        background-color: grey;
        filter: drop-shadow(0px 17.2591px 35.9564px rgba(71, 71, 185, 0.2));
        img {
            
            transform: translateY(17px);
        }
    }
    .userData {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        bottom: 32px;
        left: 20px;
        gap: 5px;
        .comment {
            max-width: 258px;
            max-height: 96px;
            font-family: Inter;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */
        
            text-align: center;
        
            color: #000000;
        
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }
        .role {
            min-width: 123px;
            height: 14px;
        
            font-family: Manrope;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            /* identical to box height */
        
        
            color: #505050;
        
        }
        .name {
            width: 108px;
                height: 19px;
            
                font-family: Manrope;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 19px;
                color: #000000;         
                /* Inside auto layout */
            
                flex: none;
                order: 0;
                flex-grow: 0;
        }
        

    }
}