@font-face {
    font-family: Archivo;
    src: url('../fonts/Archivo-Regular.ttf');
}
.Signin
{
    padding: 50px 50px;

    *{color: #94969A;
    font-family: Archivo;}

   
   .Navigations
   {

        color: #7000FF;

        color: black;
        flex-direction: row;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: black;
            font-weight: 700;
        }
        div{
            span{
                font-weight: 700;

            }
            a{
                color: #7000FF;
                text-decoration: underline;
            }
        }

   }
   .Header{
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;

   }
   .AntoherMethods{
    .SignupGoogle {
        margin-top: 20px;
        cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #7000FF;
            padding: 10px 45px;
            border-radius: 50px;
            box-shadow: 0px 15px 50px rgba(222, 95, 143, 0.12);
    
            p {
                color: white;
                margin: auto 5px;
            }
        }
    
        .SignupFB {
            margin-top: 20px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #FFF;
            padding: 10px 45px;
            border-radius: 50px;
            box-shadow: 0px 15px 50px rgba(222, 95, 143, 0.12);
    
            p {
                color: #000;
                margin: auto 5px;
            }
        }
        flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
   .Divider{
    margin-top: 30px;
    color: #94969A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    .line{
        width: 30%;
        height: 2px;
        background-color:#94969A;

    }
    .text {

        text-align: center;
        font-size: 16px;
        min-width: fit-content;
        font-stretch: expanded;
        white-space: normal;
    }

   }
   form{
    display: flex;
    flex-direction: column;
    .Inputs {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        label {
            .inputContainer{
                margin-top: 10px;
                display: flex;
                align-items: center;
                height: 40px;
                width: 270px;
                border: 1px solid #94969A;
                border-radius: 50px;
                padding: 20px;
                svg{
                    margin-right: 5px;
                }
                
            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px white inset !important;
            }
            input {
              
                font-size: 16px;
                background-color: white;
                outline: hidden;
                border: none;
            }
            input:focus ~ .inputContainer{
                background-color: #000;
            }
            span {
                font-size: 17px;
                font-weight: 700;
                color: black;
            }
            
        }
    }
    .ForgotPass {
        align-items: center;
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        input {
           border: #7000FF;
        }
        label{
            display: flex;
            align-items: center;
            gap: 8px;
        }
        a{
            color: #7000FF;
            font-weight: 700;
            font-size: 16px;
        }
       

    }
         button {
            margin-top: 30px;
            width: 270px;
            padding: 10px;
            font-weight: 700;
            border-radius: 50px;
            background: #7000FF;
            box-shadow: 0px 4px 20px #8000FF;
            border: none;
            color: white;
            svg{
                color: white;
                path{
                    color: white;
                }
            }
         }
   }
   
}