html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow-x: hidden;
}

body {
  background-image: radial-gradient(
    circle,
    #760c8a,
    #730c87,
    #700d83,
    #6e0d80,
    #6b0d7d,
    #650f77,
    #601072,
    #5a116c,
    #511262,
    #481359,
    #40134f,
    #381246
  );
  color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  border-color: transparent;
  outline: 0;
}

.search-bar__icon {
  border: 0 !important;
  border-radius: 18px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.search-bar__input {
  border: 0 !important;
  border-radius: 18px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
